<footer class="footer mt-auto py-3" style="background-color: #4d330a">
    <div class="container">
        <span class="text-light">Plant Recognition App - Created by Waigen Yau, Sewon Sohn and Alexander Brown.</span>
    </div>
</footer>