<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <p>Welcome to <%= title %></p>
    <form action="/add" method="POST" enctype="multipart/form-data">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="first_name" required><br>
      <br>
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="last_name" required><br>
      <br>
      <label for="dateOfBirth">Date of Birth:</label>
      <input type="date" id="dateOfBirth" name="dob" required><br>
      <br>
      <label for="myImage">Choose an Image:</label><br><br>
      <input type="file" id="myImage" name="myImg" accept="image/*" required>
      <br><br>
      <button type="submit">Submit</button>
    </form>
    <hr>
    <a href="/display"><p>View All Plants</p></a>

  </body>
</html>
