<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <p>Welcome to <%= title %></p>
    <form action="/add" method="POST" enctype="multipart/form-data">
      <label for="nickname">Nickname:</label>
      <input type="text" id="nickname" name="nickname" required><br>
      <br>
      <label for="plantName">Plant Name:</label>
      <input type="text" id="plantName" name="plant_name" required><br>
      <br>
      <label for="plantNameStatus">Plant Name Status:</label>
      <input type="text" id="plantNameStatus" name="plantNameStatus" required><br>
      <br>
      <label for="description">Description:</label>
      <input type="text" id="description" name="description" required><br>
      <br>
      <label for="height">Plant Height:</label>
      <input type="text" id="height" name="height" required><br>
      <br>
      <label for="spread">Plant Spread:</label>
      <input type="text" id="spread" name="spread" required><br>
      <br>
      <label for="flowers">Flowers (Y/N):</label>
      <input type="radio" id="flowers" name="flowers" required><br>
      <br>
      <label for="flowerColour">Flower Colour:</label>
      <input type="text" id="flowerColour" name="flowerColour" required><br>
      <br>
      <label for="leaves">Leaves (Y/N):</label>
      <input type="radio" id="leaves" name="leaves" required><br>
      <br>
      <label for="fruitSeeds">Fruit or Seeds:</label>
      <input type="text" id="fruitSeeds" name="fruitSeeds" required><br>
      <br>
      <label for="sunExposure">Sun Exposure:</label>
      <input type="text" id="sunExposure" name="sunExposure" required><br>
      <br>
      <label for="location">Location:</label>
      <input type="text" id="location" name="location" required><br>
      <br>
      <label for="dateOfSighting">Date of Sighting:</label>
      <input type="date" id="dateOfSighting" name="dos" required><br>
      <br>
      <label for="image">Choose an Image:</label><br><br>
      <input type="file" id="image" name="image" accept="image/*" required>
      <br>
      <br>
      <button type="submit">Submit</button>
    </form>
    <hr>
    <a href="/display"><p>View All Plants</p></a>

  </body>
</html>
