<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script type="module" src="/javascripts/usernameHandler.js"></script>

</head>

<body>
<!-- Username Modal -->
<div class="modal fade" id="usernameModal" tabindex="-1" aria-labelledby="usernameModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="usernameModalLabel">Set Your Username</h5>
            </div>
            <div class="modal-body">
                <form id="usernameForm">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" required>
                    </div>
                    <button type="submit" class="btn submit-btn" id="usernameSubmit">Continue</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- HEADER -->
<%- include('./partials/header.ejs') -%>

<div class="container">
    <!-- Header Section -->
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4 text-center"><%= title %></h1>
        </div>
    </div>

    <!-- Add New Plant Button -->
    <div class="row container-top">
        <div class="col-12 add-plant-button">
            <a href="/add" class="btn" id="addNewPlantButton">Add New Plant</a>
        </div>
    </div>

    <!-- Plants Display Grid -->
    <div class="row row-cols-1 row-cols-md-4 g-4" id="plant_list">
        <div class="col" id="plant_template">
            <div class="card h-100 plant-card">
                <a href="/plant/" id="plant_page_link">
                    <img src="" class="card-img-top" alt="Image of" id="plant_photo">
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <a href="/plant/" id="plant_name_with_link" class="text-decoration-none text-dark">Plant Name</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<%- include('./partials/footer.ejs') -%>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
</script>
<script src="/javascripts/index.js"></script>
<script src="/javascripts/idb-utility.js"></script>
</body>
</html>