#saveChangesButton {
    background-color: #faedcd;
    transition: background-color 0.15s ease-in-out;
}

#chat_template {
    display: none;
}

#saveChangesButton:hover {
    background-color: #d4a373;
}

.detail-view {
    display: flex;
    margin-top: 20px;
}

.plant-image {
    flex: 1;
    max-width: 50%;
}

.plant-details {
    flex: 1;
    padding-left: 20px;
}

.plant-name-header {
    text-align: center;
    margin-bottom: 20px; /* Spacing between the header and the sections below */
}

.list-group-item strong {
    margin-right: 5px; /* Adds spacing after the label */
}

.dbpedia-section {
    background-color: #f8f9fa; /* Light gray background for emphasis */
    padding: 20px;
    border-radius: 5px; /* Rounded corners */
}

.dbpedia-link {
    text-decoration: none;
}

#chatSendButton {
    background-color: #e9edc9;
    transition: background-color 0.15s ease-in-out;
}

#chatSendButton:hover {
    background-color: #ccd5ae;
}


