body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
  margin-bottom: 2rem;
}

footer {
  margin-top: 2rem;
  clear: both;
}

#plant_template {
  display: none;
}