html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  flex: 1 0 auto;
}

header {
  margin-bottom: 4rem;
}

footer {
  flex-shrink: 0;
  background-color: #d4a373;
  color: #fff;
  padding: 1rem 0;
  width: 100%;
  margin-top: 2rem;
}

a {
  color: #00B7FF;
}

#plant_template {
  display: none;
}